code,pre.code{background:#C0DCC0;color:#000080;font-size:120%;padding-left:3pt;padding-right:3pt;}
pre{font-size:120%;}
.linkleader{font-weight:bolder;}
.bookmark{text-align:center;margin:1.5em 1em 0.5em;}
div.StdBanner,div.AltBanner{text-align:center;}
/* div.StdBanner{border-width:1px;border-style:dotted;border-color:#bababa;} */
