/* Representation of standard HTML elements */
body{
	font-family:serif;
	margin:0;
	border:none;
	padding:0;
	font-size:100%;
	/* background-color:#FFF5EE; */
	background-color:#FFE;
	color:#003;
	line-height:1.5;
}
table{
	text-align:left;
	border:none;
}
h1 {
	margin:0;
}
/* hr should be phased out */
hr{
	clear:both;
	border:none;
	color:#9E9E9E;
	background-color:#9E9E9E;
	height:2px;
	width:100%;
}
img {
	border:none;
}
ul{
	list-style:square;
}
li.listindex{
	list-style:circle;
}
A:link {color:#0000FF;}
A:visited {color:#00008B;}
A:active {color:#FF4500;}
A:hover {color:#FF4500;}
a img{
	border:none;
}
.linkimg a img,a.linkimg img{
	border:2px solid;
}
/* division of pages */
div.dhead{
	padding:0.4em;
	border-bottom:0.2em solid #AAA;
}
div.dmain{
	padding:0.8em;
	margin:0 auto;
}
div.dfoot{
	padding:0.4em;
	border-top:0.2em solid #AAA;
}
/* Representation of sitewide classes */
/* heading modifiers */
.PageTitle{
	font-weight:bolder;
	font-size:200%;
	color:#004;
}
.PageBlurb {
	border-left:solid 0.7em #CCC;
	padding-left:0.3em;
}
.section{
	font-weight:bolder;
	font-size:100%;
}
.HeadImage{
	float:right;
	margin:0;
	padding:0 0 1em 1em;
	text-align:right;
	background-color:#FFE;
}
.HeadAd, .HeadRed {
	margin:1em 0 0 0;
	text-align:center;
}
.HeadAd div, .HeadRed div{
	margin:0 auto;
}
.FootImage{
	float:right;
	margin:0.5em;
}
hr.spaced{margin:1em 0;}
hr.hrtop,hr.hrbot{height:8px;}
hr.hrmain{height:2px;}
.searchbox{float:right;margin:0 0 0.5em 0.5em;}
/* searchbox for pages with dhead: */
div.dhead .searchbox{
	margin:0 0 0 0.5em;
}
div.locator{
	float:left;
	font-weight:bolder;
}
div.spacer{clear:both;margin:0;border:0;padding:0;}
.tip, .new{color:#F00;font-weight:bolder;padding:0.2em;}
.LastUpdated{font-size:smaller;}
.nospace{border:0;margin:0;padding:0;}
div.blockquote{margin:1em 3em;}
.contactemail a{
	padding:0.3em 0.7em 0.3em 0.7em;
	border:thin outset;
	text-decoration:none;
	white-space:nowrap;
}
/* for iStore generated content */
span.prodnewx{
	font-size:70%;
	font-weight:bolder;
	background-color:yellow;
	color:red;
	position:relative;
	top:-0.8em;
	padding:0.2em 0.4em 0.2em 0.8em;
	border-radius:1.6em 0.8em 0.8em 0em;
	border:outset thin yellow;
}
span.prodpopu{
	font-size:100%;
	font-weight:bolder;
	color:red;
	padding:0 0.2em;
	border-radius:0.5em;
	border:outset thin red;
}
.popuclas{
	font-weight:bolder;
}
/* Software related stuff */
.versionbox {
	color:yellow;
	background-color:#004;
	border:none;
	padding:0.3em 0.6em;
	font-weight:bolder;
}
.versionnotice {
	color:red;
	font-weight:bolder;
	border-left:solid 0.7em red;
	padding-left:0.3em;
}
/* styling for h3 in software section */
.hd3 {
	margin-top:2em;
	padding:0.1em 0.2em;
	background-color:#444;
	color:#FFF;
}
/* section number in hd3 heading */
.secnum {
	color:#CCC;
}
.notice {
	color:#F00;
	font-weight:bolder;
}
/* Space out and center the red buttons */
.FootButtons{margin:1em auto 0;}
.RedButtons{text-align:center;margin:0;padding:0;border:0;}
.RedButtons a{border:none;margin:0em 2em;}
.footlinks{margin:0 1em 0.5em;font-weight:bolder;text-align:center;}
.aboutlinks{margin:0;font-size:smaller;text-align:center;}
.aboutlinks a{font-weight:normal;}
div.redcont{
	text-align:center;
}
div.redblock{
	background-color:#FFF;
	background-image: url("/red/imgs/sys/dol.gif");
	background-repeat: no-repeat;
	background-position: right bottom;
	border-style:dashed;
	border-width:thin;
	border-color:#bababa;
	padding:0.5em;
	margin:1em auto;
}
.bookmark{
	font-size:smaller;
}
.bookmark img{
	position:relative;
	top:4px;
}
.bookmark a{
	padding-left:0.2em;
	padding-right:0.2em;
}
/* Error - usually for no javascript */
.error{
	text-align:center;
	color:red;
	background-color:#FF0;
	margin:1.5em;
	padding:0.5em;
	border:solid 0.2em red;
}
.error div,.error p{
	text-align:inherit;
	margin:0.5em;
}
.errortitle{
	font-weight:bolder;
	text-decoration:blink;
}
.errordesc{
	font-style:italic;
}
/* novideo */
.novideo{
	margin:0 auto;
    position:relative;
	line-height:100%;
}
.novideo_txtoverbox{
    top:0;
    left:0;
	width:100%;
    position:absolute;
    text-align:center;
}
.novideo_txtover{
    text-align:center;
	width:80%;
    margin:10% auto;
    background:white;
    background:rgba(255,255,255,0.7);
    border:dashed thin black;
	padding:1em;
}
.novideo_txtover p{
	text-align:inherit;
}
.novideo_title{
	font-weight:bolder;
}
.novideo_desc{
	font-style:italic;
}
/* Atom feeds, Rss feeds and microblogs links styling */
a.atom,a.rss,a.twitter,a.identica,a.mozillasn{
	background-repeat:no-repeat;
	background-position:0 45%;
	padding-left:20px;
}
a.atom{
	background-image:url('/imgs/icons/atom.png');
}
a.rss{
	background-image:url('/imgs/icons/rss.png');
}
a.twitter{
	background-image:url('/imgs/icons/twitter.png');
}
a.identica{
	background-image:url('/imgs/icons/identica.png');
}
a.mozillasn{
	background-image:url('/imgs/icons/mozillasn.png');
}
/* for print only sections */
div.print{display:none;}
span.print{display:none;}
/* end print only section */
