.woocommerce .main-box {padding: 20px;}
.woocommerce a.button.loading:after, .woocommerce button.button.loading:after, .woocommerce input.button.loading:after, .woocommerce ul.products li.product .added_to_cart:after, .return-to-shop .button.wc-backward:before, .woocommerce .widget_shopping_cart_content .buttons .button:after, .woocommerce div.product form.cart .variations .reset_variations:before, .wcmenucart .fa {font-weight: 400;font-style: normal;letter-spacing: normal;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.price, .amount {color: #8db830;}
del .amount {color: #555 !important;}
.woocommerce del {opacity: .5;}
.woocommerce ins {text-decoration: none;}
.woocommerce select {border-radius: 4px;}
.woocommerce p.stars a, .woocommerce .star-rating {font-size: 1em;color: #f9ca63;}
.woocommerce .star-rating:before {color: #dedede;}
.quantity.buttons_added input {-webkit-appearance: none !important;}
.quantity.buttons_added {position: relative;overflow: hidden;zoom: 1;border: 1px solid #e4e4e4;float: left;}
.quantity.buttons_added input[type=number] {float: left;height: 24px;line-height: 24px;-moz-appearance: textfield;}
.quantity.buttons_added .minus, .quantity.buttons_added .plus, .quantity.buttons_added .qty {display: block;float: left;height: 24px;width: 24px;line-height: 24px;border: 0;margin: 0;padding: 0;text-align: center;vertical-align: middle;font-size: .923em;color: #777;cursor: pointer;outline: none;}
.quantity.buttons_added .minus, .quantity.buttons_added .qty {border-right: 1px solid #e4e4e4;}
.quantity.buttons_added .plus, .quantity.buttons_added .minus {background: #f7f7f7;}
.quantity.buttons_added .minus:hover, .quantity.buttons_added .plus:hover {background: #f5f5f5;color: #000;}
.quantity.buttons_added input::-webkit-outer-spin-button, .quantity.buttons_added input::-webkit-inner-spin-button {display: none;}
.col2-set:after {content: "";display: block;height: 0;clear: both;visibility: hidden;zoom: 1;}
.woocommerce-checkout #payment ul.payment_methods, .woocommerce table.shop_table, .woocommerce table.shop_table td, .woocommerce-cart .cart-collaterals .cart_totals tr td, .woocommerce-cart .cart-collaterals .cart_totals tr th, .woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th, .woocommerce .order_details, .woocommerce .cart-collaterals .cross-sells, .woocommerce-page .cart-collaterals .cross-sells, .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals, .woocommerce .cart-collaterals h2, .woocommerce .cart-collaterals h2, .woocommerce ul.order_details, .woocommerce .shop_table.order_details tfoot th, .woocommerce .shop_table.customer_details th, .woocommerce-checkout #payment ul.payment_methods, .woocommerce .col2-set.addresses .col-1, .woocommerce .col2-set.addresses .col-2 {border-color: rgba(0,0,0,.05);}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce ul.products li.product .added_to_cart {color: #fff;font-weight: 400;}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce ul.products li.product .added_to_cart:hover {color: #fff;}
.woocommerce #respond input#submit.loading, .woocommerce a.button.loading, .woocommerce button.button.loading, .woocommerce input.button.loading {opacity: 1;padding-right: 1em;}
.woocommerce #respond input#submit.loading:after, .woocommerce a.button.loading:after, .woocommerce button.button.loading:after, .woocommerce input.button.loading:after {font-family: fontawesome;content: "";vertical-align: top;-webkit-font-smoothing: antialiased;font-weight: 400;position: inherit;top: auto;right: auto;margin-left: .53em;animation: spin 1s linear infinite;-webkit-animation: spin 1s linear infinite;-moz-animation: spin 1s linear infinite;display: inline-block;color: inherit;opacity: 1;}
.woocommerce ul.products li.product .added_to_cart:after {font-family: fontawesome;content: "";margin-left: .53em;vertical-align: bottom;}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {color: #fff;-webkit-font-smoothing: inherit;text-transform: none;font-weight: 400;}
.woocommerce button.disabled, .woocommerce button.alt:disabled {background: #4a97c2 !important;}
.return-to-shop .button.wc-backward:before {font-family: fontawesome;content: "";margin-right: 8px;}
.woocommerce .products ul, .woocommerce ul.products {margin: 0;}
.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {margin: 0 10px 30px 0;}
.woocommerce .woocommerce-ordering {margin: 0;float: right;margin-bottom: 20px;}
.woocommerce .woocommerce-ordering select {vertical-align: top;border-radius: 4px;}
.woocommerce .woocommerce-result-count {display: block;float: left;margin: 10px 10px 10px 0;font-size: 14px;}
.woocommerce .woocommerce-result-count span.strong {font-weight: 700;font-weight: 600;}
.woocommerce .woocommerce-ordering .orderby, .woocommerce .woocommerce-ordering .orderby span {width: auto !important;}
.woocommerce nav.woocommerce-pagination ul {display: block;border: none;margin: 0;}
.woocommerce nav.woocommerce-pagination ul li {display: block;border-right: none;margin: 0 4px 4px 0;}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {padding: .4em .7em;font-size: .923em;}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {color: #000;}
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message {background-color: #f7f7f7;border-left: 1px solid rgba(0,0,0,.01);border-right: 1px solid rgba(0,0,0,.01);border-bottom: 1px solid rgba(0,0,0,.01);padding: 15px 15px 15px 40px !important;font-size: 14px;}
.woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:before, .woocommerce .woocommerce-message:before {top: 15px;left: 15px;}
.woocommerce .woocommerce-error:before {font-family: fontawesome;content: "";}
.woocommerce .woocommerce-message:before {font-family: fontawesome;content: "";}
.woocommerce .woocommerce-info:before {font-family: fontawesome;content: "";}
.woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button, .woocommerce .woocommerce-message .button {margin: -5px 0 0;}
.woocommerce .products .product {overflow: hidden;padding-bottom: 20px;}
.woocommerce .products .product-inner {position: relative;text-align: center;}
.woocommerce ul.products li.product a img {margin: 0;}
.woocommerce ul.products li.product a img.woo-entry-image-main {display: block;margin: 0 auto 20px;}
.woo-product-entry-slider {margin-bottom: 20px;}
.woo-product-entry-slider .sp-arrow {height: 40px;width: 25px;line-height: 40px;background: rgba(0,0,0,.3);}
.woo-product-entry-slider .sp-arrow:hover {background: #000;}
.woo-product-entry-slider.wpex-slider .sp-buttons {left: auto;right: 0;top: 0;padding: 10px;}
.woocommerce ul.products li.product h3 {font-size: 16px;font-weight: 400;font-weight: 400;margin: 0;padding: 0;}
.woocommerce span.onsale {z-index: 9;color: #fff;font-size: .923em;padding: .6em .8em;line-height: 1;text-transform: uppercase;font-weight: 400;position: absolute;text-align: center;top: 15px;left: 15px;margin: 0;background: #ed4039;min-height: 0;min-width: 0;border-radius: 0;-webkit-font-smoothing: inherit;}
.woocommerce ul.products li.product .onsale {top: 15px;left: 15px;margin: 0;right: auto;}
.woocommerce ul.products li.product.outofstock .onsale {display: none;}
.woocommerce ul.products li.product.outofstock .outofstock-badge {z-index: 9;color: #fff;font-size: .923em;padding: .6em .8em;line-height: 1;font-weight: 400;position: absolute;text-align: center;top: 15px;left: 15px;margin: 0;background: #000;background: rgba(0,0,0,.75);}
.woocommerce ul.products li.product .star-rating {float: none;display: block;margin: 10px auto 0;}
.woocommerce ul.products li.product .price {display: block;font-size: 1.231em;font-weight: 700;font-weight: 600;text-align: center;margin: 10px 0 0;}
.woocommerce ul.products li.product .price del, .woocommerce ul.products li.product .price ins {font-weight: 700;font-weight: 600;display: inline-block;text-decoration: none;}
.woocommerce ul.products li.product .price del .amount {font-size: .846em;font-weight: 400;text-decoration: line-through;}
.woocommerce ul.products li.product .button {margin: 10px auto 0;display: inline-block;float: none;}
.woocommerce ul.products li.product .added_to_cart {margin: 10px auto 0;}
.woocommerce ul.products li.product .button.added {display: none !important;}
.woocommerce-cart .woocommerce ul.products li.product .button {display: none;}
.woocommerce div.product .product_title {margin: 0;}
.woocommerce div.product div.images {float: left;width: 52%;margin-bottom: 0;}
.product-variation-thumbs {margin: 0 -3px;}
.product-variation-thumbs a {display: block;float: left;cursor: pointer;height: auto;width: 20%;padding: 3px;margin: 0;}
.woocommerce div.product div.summary {float: right;width: 44%;margin-bottom: 2em;}
.woocommerce div.product form.cart {padding: 20px 0;margin: 0;}
.woocommerce div.product div.summary .price {font-size: 1.615em;}
.woocommerce div.product div.summary ins, .woocommerce div.product div.summary del {display: inline;}
.woocommerce div.product div.summary ins {text-decoration: none;}
.woocommerce div.product div.summary del {font-size: .667em;margin-right: 5px;}
.woocommerce div.product p.price ins, .woocommerce div.product span.price ins {font-weight: 400;}
.woocommerce div.product .woocommerce-product-rating {margin: 0 0 10px;}
.woocommerce div.product div.summary .single_add_to_cart_button {height: 36px;line-height: 36px;padding-top: 0;padding-bottom: 0;}
.woocommerce div.product div.summary .single_add_to_cart_button .fa {margin-left: 8px;}
.woocommerce div.product form.cart div.quantity {float: left;margin-right: 10px;}
.woocommerce div.product form.cart div.quantity .minus, .woocommerce div.product form.cart div.quantity .plus, .woocommerce div.product form.cart div.quantity .qty {height: 34px;line-height: 34px;width: 34px;-moz-appearance: textfield;padding: 0;}
.woocommerce div.product form.cart div.quantity .qty {width: 45px;border-radius: 4px;}
.woocommerce div.product form.cart .variations label {color: #000;font-weight: 700;font-weight: 600;}
.woocommerce div.product form.cart .variations td.label {padding: 0 0 10px;width: 20%;}
.woocommerce div.product form.cart .variations td.value {padding: 0 0 10px;}
.woocommerce div.product form.cart .variations .reset_variations {display: block;float: left;margin-top: 10px;font-size: .923em;color: #989898;font-weight: 400;border: 2px solid #ededed;padding: 3px 10px;border-radius: 3px;text-decoration: none;}
.woocommerce div.product form.cart .variations .reset_variations:before {display: inline-block;font-family: fontawesome;content: "";margin-right: 5px;}
.woocommerce div.product form.cart .variations .reset_variations:hover:before {color: red;}
.single_variation {display: block;float: left;margin-bottom: 10px;}
.variations_button {clear: both;}
.product_meta {clear: both;font-size: 12px;border-top: 1px solid rgba(0,0,0,.01);border-bottom: 1px solid rgba(0,0,0,.01);padding: 10px 0;}
.product_meta span {display: block;}
.sku_wrapper {font-weight: 700;font-weight: 600;}
.sku_wrapper span {display: inline;font-weight: 400;}
.product_meta .posted_in, .product_meta .tagged_as {font-weight: 700;font-weight: 600;}
.product_meta .posted_in a, .product_meta .tagged_as a {font-weight: 400;}
.product_meta span.sku {display: inline;}
.woocommerce div.product .woocommerce-tabs {padding-top: 20px;clear: both;}
.woocommerce div.product .woocommerce-tabs ul.tabs {list-style: none;padding: 0;margin: 0 0 30px;height: 41px;overflow: visible;}
.woocommerce div.product .woocommerce-tabs ul.tabs:before {display: none;}
.woocommerce div.product .woocommerce-tabs ul.tabs li {display: block;float: left;height: 40px;line-height: 40px;position: relative;z-index: 0;margin: 0 20px 0 0;border: none;border-radius: 0;padding: 0;background: 0 0;}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:after {display: none;}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {display: block;margin: 0;padding: 0;background: 0 0;font-weight: 400;}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {text-decoration: none;}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {z-index: 2;background: 0 0;}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {font-weight: 700;font-weight: 600;position: relative;margin-bottom: -1px;border-bottom: 2px solid rgba(0,0,0,.4);}
.woocommerce-tabs .panel {margin: 0 0 2em;padding: 0;}
.woocommerce-tabs .panel h2, .woocommerce .related h2 {margin: 0 0 30px;font-size: 20px;line-height: 30px;}
.woocommerce table.shop_attributes th {font-weight: 600;}
.woocommerce.single-product .social-share-title.theme-heading span.text:after {display: none;}
.woocommerce #reviews h3 {margin: 0 0 20px;}
#reviews #commentform label {margin: 0 0 10px;}
.woocommerce #review_form #respond p {padding: 0;margin: 0 0 15px;}
#reviews .comment-form-author input, #reviews .comment-form-email input {width: 100%;}
.woocommerce #reviews #commentform p.stars a {border-color: rgba(0,0,0,.01);}
.woocommerce .comment-form-rating {float: left;}
.woocommerce #review_form #respond p.comment-form-author {margin-right: 15px;}
.woocommerce #reviews #comments ol.commentlist {margin: 25px 0 -25px;position: relative;}
.woocommerce #reviews #comments ol.commentlist li {border-bottom: 1px solid rgba(0,0,0,.01);margin-bottom: 25px;padding-bottom: 25px;}
.woocommerce #reviews #comments ol.commentlist li .description p:last-child {margin: 0;}
.woocommerce #reviews #comments ol.commentlist li .comment-text {border: none;padding: 0;margin: 0 0 0 80px;}
.woocommerce #reviews #comments ol.commentlist li img.avatar {border-radius: 50%;-moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);border: 5px solid #fff;margin: 0 0 10px;width: 60px;height: 60px;padding: 0;background: 0 0;}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {font-size: 14px;}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong {font-weight: 700;font-weight: 600;}
.woocommerce #review_form_wrapper {width: 100%;float: left;margin-top: 30px;}
.woocommerce #review_form #respond {width: 100%;}
.woocommerce #reviews #comment {height: 150px;}
.woocommerce .term-description {margin-bottom: 40px;}
.woocommerce .term-description p:last-child {margin-bottom: 0;}
.woocommerce ul.products li.product-category a img {margin-bottom: 20px;}
.woocommerce ul.products li.product h3 {margin: 0;font-size: 18px;text-align: center;}
.products .product-category {text-align: center;}
.products .product-category img {display: block;margin: 0 auto;}
.products .product-category mark {background: 0 0;}
.woocommerce ul.products li.product {text-align: center;}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {background: rgba(0,0,0,.1);box-shadow: inset 0 1px 2px rgba(0,0,0,.1);}
.woocommerce .widget_price_filter .price_slider_amount {font-weight: 700;font-weight: 600;font-size: 1em;}
.woocommerce .widget_price_filter .price_slider_amount .price_label {float: left;padding: 0;height: 24px;line-height: 24px;text-align: left;margin: 7px 0 0;}
.woocommerce .widget_price_filter .price_slider_amount .button {float: right;}
.woocommerce ul.product_list_widget {margin: 0 !important;padding: 20px;}
.widget_shopping_cart ul.product_list_widget {padding: 0;}
.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a {font-weight: 400;}
.woocommerce ul.product_list_widget li .remove {display: none;}
.woocommerce ul.product_list_widget li, .woocommerce .widget_shopping_cart .cart_list li, .woocommerce.widget_shopping_cart .cart_list li {position: relative;border-bottom: 1px solid rgba(0,0,0,.1);clear: both;padding: 0 0 10px;margin: 0 0 10px;min-height: 60px;}
.woocommerce.widget_shopping_cart .cart_list li:last-child {padding: 0;margin: 0;}
.woocommerce ul.product_list_widget li.empty {min-height: 0;margin: 0;border: none;padding: 10px 0 0;text-align: center;}
.woocommerce ul.product_list_widget li img {width: 50px;height: 50px;float: left;margin: 0 15px 0 0;}
.woocommerce ul.product_list_widget li img:hover {opacity: .8;}
.woocommerce ul.product_list_widget li .quantity {display: block;margin: 5px 0 0;line-height: 1em;}
.woocommerce ul.product_list_widget li:last-child {border-bottom: none;margin-bottom: 0;padding-bottom: 0;}
.woocommerce .widget_shopping_cart_content .buttons {margin: 0;padding-top: 10px;}
.woocommerce .widget_shopping_cart_content .buttons .button {float: left;width: 49%;text-align: center;color: #fff;}
.woocommerce .widget_shopping_cart_content .buttons .checkout {float: right;}
.woocommerce .widget_shopping_cart_content .buttons .wc-forward:after, .woocommerce .widget_shopping_cart_content .buttons .checkout:after {font-family: fontawesome;margin-left: 8px;}
.woocommerce .widget_shopping_cart_content .buttons .wc-forward:after {content: "";}
.woocommerce .widget_shopping_cart_content .buttons .checkout:after {content: "";}
.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total {margin: 0;border-top: none;padding-top: 15px;}
.woocommerce ul.cart_list li .star-rating, .woocommerce ul.product_list_widget li .star-rating {display: block;margin: 5px 0;}
.woocommerce ul.cart_list li dl, .woocommerce ul.product_list_widget li dl {display: none;}
.woocommerce-product-search label {display: none;}
.woocommerce-product-search input {background: 0 0;padding-top: 0;padding-bottom: 0;height: 42px;line-height: 42px;}
.woocommerce-product-search {position: relative;}
.woocommerce-product-search input[type=search] {width: 100%;margin: 0;}
.woocommerce-product-search input[type=submit] {position: absolute;top: 20px;border-radius: 0 4px 4px 0;right: 20px;height: 42px;width: 70px;min-width: 70px;}
.widget_product_categories .product-categories {padding: 10px 20px;}
.widget_product_categories li {position: relative;padding: 10px 0;font-size: 14px;line-height: 20px;}
.widget_product_categories li ul {border-top: 1px solid rgba(0,0,0,.07);margin-top: 10px;}
.widget_product_categories li ul li {padding: 10px 0;}
.widget_product_categories li ul li:last-child {padding-bottom: 0;}
.widget_product_categories .count {color: #999;font-size: .846em;margin-left: 5px;}
.woocommerce table.shop_table th, .woocommerce table.shop_table td {padding: .8em;}
.woocommerce table.shop_table td, .woocommerce-cart .cart-collaterals .cart_totals tr td {border-bottom: none;}
.woocommerce-cart .cart_item td:last-child, .woocommerce table.cart td.actions, .woocommerce-page #content table.cart td.actions, .woocommerce-page table.cart td.actions {border-right: none;}
.woocommerce table.shop_table {border-radius: 0;}
.woocommerce table.shop_table thead {background: rgba(0,0,0,.01);}
.woocommerce table.shop_table thead th {font-weight: 700;font-weight: 600;}
.woocommerce table.shop_table .product-remove {text-align: center;}
.woocommerce table.shop_table a.remove {display: inline;display: inline-block;background: no-repeat;}
.woocommerce table.shop_table a.remove:hover {color: red !important;}
.woocommerce td.product-name dl.variation dt {font-weight: 700;font-weight: 600;}
.woocommerce-cart table.cart td.actions input {padding-top: 0;padding-bottom: 0;height: 32px;line-height: 32px;padding: 0 1.5em;}
.woocommerce-cart table.cart td.actions .coupon .input-text {line-height: 32px;padding: 0 .8em;margin: 0 8px 0 0;}
.woocommerce-cart table.cart td.actions input[name=update_cart] {float: right;}
.woocommerce-cart table.cart td.actions .coupon {float: left;}
.woocommerce-cart table.cart td.actions .coupon .input-text {border-color: rgba(0,0,0,.01);}
.woocommerce-cart table.cart td.actions .coupon label {display: none;}
.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {width: 100%;}
.woocommerce .cart-collaterals:after, .woocommerce .cart-collaterals:before, .woocommerce-page .cart-collaterals:after, .woocommerce-page .cart-collaterals:before {content: " ";display: table;}
.woocommerce .cart-collaterals:after, .woocommerce-page .cart-collaterals:after {clear: both;}
.woocommerce .cart-collaterals .related, .woocommerce-page .cart-collaterals .related {width: 30.75%;float: left;}
.woocommerce .cart-collaterals .cross-sells, .woocommerce-page .cart-collaterals .cross-sells {width: 48%;float: left;padding: 0 20px;border-width: 1px;border-style: solid;}
.woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator {width: 48%;clear: right;float: right;}
.woocommerce .cart-collaterals .shipping_calculator:after, .woocommerce .cart-collaterals .shipping_calculator:before, .woocommerce-page .cart-collaterals .shipping_calculator:after, .woocommerce-page .cart-collaterals .shipping_calculator:before {content: " ";display: table;}
.woocommerce .cart-collaterals .shipping_calculator:after, .woocommerce-page .cart-collaterals .shipping_calculator:after {clear: both;}
.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-1, .woocommerce .cart-collaterals .shipping_calculator .col2-set .col-2, .woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-1, .woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-2 {width: 47%;}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {float: right;width: 48%;padding: 0 20px 20px;border-width: 1px;border-style: solid;}
.woocommerce .cart-collaterals h2 {border-bottom: 1px solid #eee;margin: 0 -20px 20px;padding: 10px;line-height: 28px;font-size: 18px;text-align: center;}
.woocommerce .cart-collaterals .products .product {margin-bottom: 0;}
.woocommerce-cart .cart-collaterals .cart_totals table {width: 100%;border-top: none;}
.woocommerce-cart .cart-collaterals .cart_totals table td, .woocommerce-cart .cart-collaterals .cart_totals table th {padding: .8em 0;}
.woocommerce form .form-row {padding: 3px 0;}
.woocommerce-cart .cart-collaterals .cart_totals table th {font-weight: 700;font-weight: 600;color: #444;}
.woocommerce-cart .cart-collaterals .cart_totals table th {width: 30%;}
.woocommerce-cart .cart-collaterals .cart_totals table tr:first-child td, .woocommerce-cart .cart-collaterals .cart_totals table tr:first-child th {padding-top: 10px;}
.woocommerce-cart .cart-collaterals .cart_totals .order-total th, .woocommerce-cart .cart-collaterals .cart_totals .order-total td {border-bottom: 1px solid #eee;}
.woocommerce-cart .cart-collaterals .cart_totals .button[name=calc_shipping] {width: 100%;margin-top: 10px;margin-bottom: 5px;}
.woocommerce-cart .wc-proceed-to-checkout {padding-bottom: 0;}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {margin-bottom: 0;}
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {border-color: transparent;margin: 20px 0;padding: 0;border-radius: 0;}
.woocommerce form.checkout_coupon .form-row-first {width: 68%;float: left;}
.woocommerce form.checkout_coupon .form-row-last {width: 30%;float: right;}
.woocommerce form.checkout_coupon input {width: 100%;border-radius: 0;padding-top: 0;padding-bottom: 0;height: 36px;line-height: 36px;}
.woocommerce form.checkout_coupon p {margin: 0;}
.woocommerce .woocommerce-checkout .col2-set .col-1 {float: left;width: 48%;}
.woocommerce .woocommerce-checkout .col2-set .col-2 {float: right;width: 48%;}
.woocommerce .woocommerce-checkout #customer_details h3 {margin: 0 0 20px;font-size: 20px;line-height: 30px;}
.woocommerce .woocommerce-checkout #customer_details p.form-row label {margin: 0 0 5px;display: inline-block;}
.woocommerce table.shop_table.woocommerce-checkout-review-order-table {float: left;width: 48%;}
.woocommerce-checkout-payment {float: right;width: 48%;}
.woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {font-weight: 700;font-weight: 600;border-color: rgba(0,0,0,.01);}
.woocommerce table.shop_table tfoot td {font-weight: 400;}
.woocommerce-checkout-review-order-table tfoot th {border-right: 1px solid rgba(0,0,0,.01);background: rgba(0,0,0,.05);}
.woocommerce-checkout #payment {border: 1px solid #eee;background: rgba(0,0,0,.01);border-radius: 0;}
.woocommerce-checkout #payment div.payment_box {background: #fff;}
.woocommerce-checkout #payment div.payment_box:after {border-bottom-color: #fff;}
.woocommerce-checkout #place_order {width: 100%;padding: .9em;}
.woocommerce-checkout .form-row.place-order {margin: 0;}
.woocommerce #order_review_heading {font-size: 20px;line-height: 30px;border-top: 1px solid rgba(0,0,0,.05);margin: 30px 0;padding: 25px 0 0;}
.woocommerce ul.order_details {border: 1px solid rgba(0,0,0,.01);padding: 20px;margin: 0 0 20px;}
.woocommerce ul.order_details li {border-color: rgba(0,0,0,.01);}
.product-quantity {font-weight: 400;}
.woocommerce .shop_table.order_details tfoot th, .woocommerce .shop_table.customer_details th {border-right: 1px solid rgba(0,0,0,.01);background: #f7f7f7;font-weight: 700;font-weight: 600;color: #444;}
.woocommerce .col2-set.addresses {text-align: center;}
.woocommerce .col2-set.addresses h3 {margin: 0 0 10px;}
.woocommerce address {margin: 0;}
.woocommerce .col2-set.addresses .col-1, .woocommerce .col2-set.addresses .col-2 {float: left;width: 48%;padding: 20px;border: 1px solid rgba(0,0,0,.1);}
.woocommerce .col2-set.addresses .col-2 {float: right;}
.woocommerce-account .addresses .title h3 {font-size: 20px;line-height: 30px;}
.woocommerce-account address {text-align: left;}
p.myaccount_user {padding: 20px;border: 1px solid rgba(0,0,0,.01);}
.woocommerce table.my_account_orders {font-size: .923em;}
.woocommerce .order-info mark {background: 0 0;color: #444;font-weight: 700;font-weight: 600;text-decoration: underline;}
.my_account_orders .button.view {padding: .5em .95em;}
.woocommerce-checkout #payment div.payment_box:before {display: none;}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {width: 100%;}
.woocommerce-cart .cart-collaterals .cart_totals table td, .woocommerce-cart .cart-collaterals .cart_totals table th {padding: 10px;}
.woocommerce-cart .cart-collaterals .cart_totals table {border-top: 1px solid rgba(0,0,0,.05);}
#current-shop-items-dropdown {position: absolute;top: 100%;right: 0;background: #fff;z-index: 10000;padding: 10px 20px 20px;border-top: 3px solid #3b86b0;box-shadow: 0 2px 7px rgba(0,0,0,.1);-moz-box-shadow: 0 2px 7px rgba(0,0,0,.1);-webkit-box-shadow: 0 2px 7px rgba(0,0,0,.1);max-height: 350px;width: 260px;overflow-y: auto;visibility: hidden;opacity: 0;-moz-opacity: 0;-webkit-opacity: 0;transition: all .25s ease-in-out;-moz-transition: all .25s ease-in-out;-webkit-transition: all .25s ease-in-out;}
#current-shop-items-dropdown.show {visibility: visible;opacity: 1;-moz-opacity: 1;-webkit-opacity: 1;}
.boxed-main-layout #current-shop-items-dropdown {right: 30px;}
#current-shop-items-dropdown .widgettitle {display: none !important;}
#current-shop-items-dropdown li:first-child {border-top: none;}
#current-shop-items-overlay {display: none;top: 120px;background: #fff;margin: 0;padding: 25px;overflow: hidden;border-radius: 4px;width: 400px;box-shadow: 0 0 4px rgba(0,0,0,.7);-webkit-box-shadow: 0 0 4px rgba(0,0,0,.7);-moz-box-shadow: 0 0 4px rgba(0,0,0,.7);z-index: 99999;}
#current-shop-items-overlay .widgettitle {display: none !important;}
#current-shop-items-overlay li.empty {padding: 0;color: #000;font-weight: 700;font-weight: 600;border: none;}
.navbar-style-two .dropdown-menu {width: 100%;}
.navbar-style-two li.woo-menu-icon {float: right;}
.navbar-style-two li.woo-menu-icon {border-left: 1px solid rgba(0,0,0,.01);}
.woocommerce div.product .product_title {width: auto;}